<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="./output.css" rel="stylesheet">
  <title>contact-us</title>
</head>
<body>
   <h2 class="text-amber-300">Contact Form</h2>

      <form method="POST" action="/contact-us">
        <label>
          Name:
          <input class="text-red-500"  type="text" name="name" required />
        </label>
        <br><br>

        <label>
          Email:
          <input type="email" name="email" required />
        </label>
        <br><br>

        <button type="submit">Submit</button>
      </form>
</body>
</html>